
*.mopcrt
nutraceutical/MOPAC_infiles/compound1-conf-1
nutraceutical/MOPAC_infiles/compound1-conf-10
nutraceutical/MOPAC_infiles/compound1-conf-100
nutraceutical/MOPAC_infiles/compound1-conf-11
nutraceutical/MOPAC_infiles/compound1-conf-12
nutraceutical/MOPAC_infiles/compound1-conf-13
nutraceutical/MOPAC_infiles/compound1-conf-14
nutraceutical/MOPAC_infiles/compound1-conf-15
nutraceutical/MOPAC_infiles/compound1-conf-16
nutraceutical/MOPAC_infiles/compound1-conf-17
nutraceutical/MOPAC_infiles/compound1-conf-18
nutraceutical/MOPAC_infiles/compound1-conf-19
nutraceutical/MOPAC_infiles/compound1-conf-2
nutraceutical/MOPAC_infiles/compound1-conf-20
nutraceutical/MOPAC_infiles/compound1-conf-21
nutraceutical/MOPAC_infiles/compound1-conf-23
nutraceutical/MOPAC_infiles/compound1-conf-24
nutraceutical/MOPAC_infiles/compound1-conf-25
nutraceutical/MOPAC_infiles/compound1-conf-26
nutraceutical/MOPAC_infiles/compound1-conf-27
nutraceutical/MOPAC_infiles/compound1-conf-28
nutraceutical/MOPAC_infiles/compound1-conf-29
nutraceutical/MOPAC_infiles/compound1-conf-3
nutraceutical/MOPAC_infiles/compound1-conf-30
nutraceutical/MOPAC_infiles/compound1-conf-31
nutraceutical/MOPAC_infiles/compound1-conf-32
nutraceutical/MOPAC_infiles/compound1-conf-33
nutraceutical/MOPAC_infiles/compound1-conf-34
nutraceutical/MOPAC_infiles/compound1-conf-35
nutraceutical/MOPAC_infiles/compound1-conf-36
nutraceutical/MOPAC_infiles/compound1-conf-37
nutraceutical/MOPAC_infiles/compound1-conf-38
nutraceutical/MOPAC_infiles/compound1-conf-39
nutraceutical/MOPAC_infiles/compound1-conf-4
nutraceutical/MOPAC_infiles/compound1-conf-40
nutraceutical/MOPAC_infiles/compound1-conf-41
nutraceutical/MOPAC_infiles/compound1-conf-42
nutraceutical/MOPAC_infiles/compound1-conf-43
nutraceutical/MOPAC_infiles/compound1-conf-44
nutraceutical/MOPAC_infiles/compound1-conf-45
nutraceutical/MOPAC_infiles/compound1-conf-46
nutraceutical/MOPAC_infiles/compound1-conf-47
nutraceutical/MOPAC_infiles/compound1-conf-48
nutraceutical/MOPAC_infiles/compound1-conf-49
nutraceutical/MOPAC_infiles/compound1-conf-5
nutraceutical/MOPAC_infiles/compound1-conf-50
nutraceutical/MOPAC_infiles/compound1-conf-51
nutraceutical/MOPAC_infiles/compound1-conf-52
nutraceutical/MOPAC_infiles/compound1-conf-53
nutraceutical/MOPAC_infiles/compound1-conf-54
nutraceutical/MOPAC_infiles/compound1-conf-55
nutraceutical/MOPAC_infiles/compound1-conf-56
nutraceutical/MOPAC_infiles/compound1-conf-57
nutraceutical/MOPAC_infiles/compound1-conf-58
nutraceutical/MOPAC_infiles/compound1-conf-59
nutraceutical/MOPAC_infiles/compound1-conf-60
nutraceutical/MOPAC_infiles/compound1-conf-62
nutraceutical/MOPAC_infiles/compound1-conf-63
nutraceutical/MOPAC_infiles/compound1-conf-64
nutraceutical/MOPAC_infiles/compound1-conf-65
nutraceutical/MOPAC_infiles/compound1-conf-66
nutraceutical/MOPAC_infiles/compound1-conf-67
nutraceutical/MOPAC_infiles/compound1-conf-68
nutraceutical/MOPAC_infiles/compound1-conf-69
nutraceutical/MOPAC_infiles/compound1-conf-70
nutraceutical/MOPAC_infiles/compound1-conf-72
nutraceutical/MOPAC_infiles/compound1-conf-74
nutraceutical/MOPAC_infiles/compound1-conf-75
nutraceutical/MOPAC_infiles/compound1-conf-76
nutraceutical/MOPAC_infiles/compound1-conf-77
nutraceutical/MOPAC_infiles/compound1-conf-78
nutraceutical/MOPAC_infiles/compound1-conf-79
nutraceutical/MOPAC_infiles/compound1-conf-8
nutraceutical/MOPAC_infiles/compound1-conf-80
nutraceutical/MOPAC_infiles/compound1-conf-81
nutraceutical/MOPAC_infiles/compound1-conf-82
nutraceutical/MOPAC_infiles/compound1-conf-83
nutraceutical/MOPAC_infiles/compound1-conf-84
nutraceutical/MOPAC_infiles/compound1-conf-85
nutraceutical/MOPAC_infiles/compound1-conf-86
nutraceutical/MOPAC_infiles/compound1-conf-87
nutraceutical/MOPAC_infiles/compound1-conf-88
nutraceutical/MOPAC_infiles/compound1-conf-89
nutraceutical/MOPAC_infiles/compound1-conf-9
nutraceutical/MOPAC_infiles/compound1-conf-91
nutraceutical/MOPAC_infiles/compound1-conf-92
nutraceutical/MOPAC_infiles/compound1-conf-93
nutraceutical/MOPAC_infiles/compound1-conf-94
nutraceutical/MOPAC_infiles/compound1-conf-95
nutraceutical/MOPAC_infiles/compound1-conf-96
nutraceutical/MOPAC_infiles/compound1-conf-97
nutraceutical/MOPAC_infiles/compound1-conf-98
nutraceutical/MOPAC_infiles/compound1-conf-99
nutraceutical/MOPAC_infiles/compound1-min-energy-conf
nutraceutical/MOPAC_infiles/compound10-min-energy-conf
nutraceutical/MOPAC_infiles/compound11-min-energy-conf
nutraceutical/MOPAC_infiles/compound12-min-energy-conf
nutraceutical/MOPAC_infiles/compound13-min-energy-conf
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-15
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-16
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-19
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-2
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-20
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-21
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-22
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-23
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-24
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-27
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-28
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-29
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-3
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-30
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-31
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-32
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-33
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-34
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-35
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-36
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-37
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-38
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-4
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-44
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-45
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-5
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-6
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-7
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-8
nutraceutical/MOPAC_infiles/compound14nutraceutical-conf-9
nutraceutical/MOPAC_infiles/compound14nutraceutical-min-energy-conf
nutraceutical/MOPAC_infiles/compound15nutraceutical-min-energy-conf
nutraceutical/MOPAC_infiles/compound16nutraceutical-min-energy-conf
nutraceutical/MOPAC_infiles/compound17-conf-1
nutraceutical/MOPAC_infiles/compound17-conf-10
nutraceutical/MOPAC_infiles/compound17-conf-100
nutraceutical/MOPAC_infiles/compound17-conf-11
nutraceutical/MOPAC_infiles/compound17-conf-12
nutraceutical/MOPAC_infiles/compound17-conf-13
nutraceutical/MOPAC_infiles/compound17-conf-14
nutraceutical/MOPAC_infiles/compound17-conf-15
nutraceutical/MOPAC_infiles/compound17-conf-16
nutraceutical/MOPAC_infiles/compound17-conf-17
nutraceutical/MOPAC_infiles/compound17-conf-18
nutraceutical/MOPAC_infiles/compound17-conf-19
nutraceutical/MOPAC_infiles/compound17-conf-2
nutraceutical/MOPAC_infiles/compound17-conf-20
nutraceutical/MOPAC_infiles/compound17-conf-21
nutraceutical/MOPAC_infiles/compound17-conf-22
nutraceutical/MOPAC_infiles/compound17-conf-23
nutraceutical/MOPAC_infiles/compound17-conf-24
nutraceutical/MOPAC_infiles/compound17-conf-25
nutraceutical/MOPAC_infiles/compound17-conf-26
nutraceutical/MOPAC_infiles/compound17-conf-27
nutraceutical/MOPAC_infiles/compound17-conf-28
nutraceutical/MOPAC_infiles/compound17-conf-29
nutraceutical/MOPAC_infiles/compound17-conf-3
nutraceutical/MOPAC_infiles/compound17-conf-30
nutraceutical/MOPAC_infiles/compound17-conf-31
nutraceutical/MOPAC_infiles/compound17-conf-32
nutraceutical/MOPAC_infiles/compound17-conf-33
nutraceutical/MOPAC_infiles/compound17-conf-34
nutraceutical/MOPAC_infiles/compound17-conf-35
nutraceutical/MOPAC_infiles/compound17-conf-36
nutraceutical/MOPAC_infiles/compound17-conf-37
nutraceutical/MOPAC_infiles/compound17-conf-38
nutraceutical/MOPAC_infiles/compound17-conf-39
nutraceutical/MOPAC_infiles/compound17-conf-4
nutraceutical/MOPAC_infiles/compound17-conf-40
nutraceutical/MOPAC_infiles/compound17-conf-41
nutraceutical/MOPAC_infiles/compound17-conf-42
nutraceutical/MOPAC_infiles/compound17-conf-43
nutraceutical/MOPAC_infiles/compound17-conf-44
nutraceutical/MOPAC_infiles/compound17-conf-45
nutraceutical/MOPAC_infiles/compound17-conf-46
nutraceutical/MOPAC_infiles/compound17-conf-47
nutraceutical/MOPAC_infiles/compound17-conf-48
nutraceutical/MOPAC_infiles/compound17-conf-49
nutraceutical/MOPAC_infiles/compound17-conf-5
nutraceutical/MOPAC_infiles/compound17-conf-50
nutraceutical/MOPAC_infiles/compound17-conf-51
nutraceutical/MOPAC_infiles/compound17-conf-52
nutraceutical/MOPAC_infiles/compound17-conf-53
nutraceutical/MOPAC_infiles/compound17-conf-54
nutraceutical/MOPAC_infiles/compound17-conf-55
nutraceutical/MOPAC_infiles/compound17-conf-56
nutraceutical/MOPAC_infiles/compound17-conf-57
nutraceutical/MOPAC_infiles/compound17-conf-58
nutraceutical/MOPAC_infiles/compound17-conf-59
nutraceutical/MOPAC_infiles/compound17-conf-6
nutraceutical/MOPAC_infiles/compound17-conf-60
nutraceutical/MOPAC_infiles/compound17-conf-61
nutraceutical/MOPAC_infiles/compound17-conf-62
nutraceutical/MOPAC_infiles/compound17-conf-63
nutraceutical/MOPAC_infiles/compound17-conf-64
nutraceutical/MOPAC_infiles/compound17-conf-65
nutraceutical/MOPAC_infiles/compound17-conf-66
nutraceutical/MOPAC_infiles/compound17-conf-67
nutraceutical/MOPAC_infiles/compound17-conf-68
nutraceutical/MOPAC_infiles/compound17-conf-69
nutraceutical/MOPAC_infiles/compound17-conf-7
nutraceutical/MOPAC_infiles/compound17-conf-70
nutraceutical/MOPAC_infiles/compound17-conf-71
nutraceutical/MOPAC_infiles/compound17-conf-72
nutraceutical/MOPAC_infiles/compound17-conf-73
nutraceutical/MOPAC_infiles/compound17-conf-74
nutraceutical/MOPAC_infiles/compound17-conf-75
nutraceutical/MOPAC_infiles/compound17-conf-76
nutraceutical/MOPAC_infiles/compound17-conf-77
nutraceutical/MOPAC_infiles/compound17-conf-78
nutraceutical/MOPAC_infiles/compound17-conf-79
nutraceutical/MOPAC_infiles/compound17-conf-8
nutraceutical/MOPAC_infiles/compound17-conf-81
nutraceutical/MOPAC_infiles/compound17-conf-82
nutraceutical/MOPAC_infiles/compound17-conf-83
nutraceutical/MOPAC_infiles/compound17-conf-84
nutraceutical/MOPAC_infiles/compound17-conf-85
nutraceutical/MOPAC_infiles/compound17-conf-86
nutraceutical/MOPAC_infiles/compound17-conf-87
nutraceutical/MOPAC_infiles/compound17-conf-88
nutraceutical/MOPAC_infiles/compound17-conf-89
nutraceutical/MOPAC_infiles/compound17-conf-9
nutraceutical/MOPAC_infiles/compound17-conf-90
nutraceutical/MOPAC_infiles/compound17-conf-91
nutraceutical/MOPAC_infiles/compound17-conf-92
nutraceutical/MOPAC_infiles/compound17-conf-93
nutraceutical/MOPAC_infiles/compound17-conf-94
nutraceutical/MOPAC_infiles/compound17-conf-95
nutraceutical/MOPAC_infiles/compound17-conf-96
nutraceutical/MOPAC_infiles/compound17-conf-97
nutraceutical/MOPAC_infiles/compound17-conf-98
nutraceutical/MOPAC_infiles/compound17-conf-99
nutraceutical/MOPAC_infiles/compound2-conf-10
nutraceutical/MOPAC_infiles/compound2-conf-1
nutraceutical/MOPAC_infiles/compound19-min-energy-conf
nutraceutical/MOPAC_infiles/compound19-conf-99
nutraceutical/MOPAC_infiles/compound19-conf-98
nutraceutical/MOPAC_infiles/compound19-conf-97
nutraceutical/MOPAC_infiles/compound19-conf-96
nutraceutical/MOPAC_infiles/compound19-conf-95
nutraceutical/MOPAC_infiles/compound19-conf-94
nutraceutical/MOPAC_infiles/compound19-conf-93
nutraceutical/MOPAC_infiles/compound19-conf-92
nutraceutical/MOPAC_infiles/compound19-conf-91
nutraceutical/MOPAC_infiles/compound19-conf-90
nutraceutical/MOPAC_infiles/compound19-conf-9
nutraceutical/MOPAC_infiles/compound19-conf-89
nutraceutical/MOPAC_infiles/compound19-conf-88
nutraceutical/MOPAC_infiles/compound19-conf-87
nutraceutical/MOPAC_infiles/compound19-conf-86
nutraceutical/MOPAC_infiles/compound19-conf-85
nutraceutical/MOPAC_infiles/compound19-conf-84
nutraceutical/MOPAC_infiles/compound19-conf-83
nutraceutical/MOPAC_infiles/compound19-conf-82
nutraceutical/MOPAC_infiles/compound19-conf-81
nutraceutical/MOPAC_infiles/compound19-conf-80
nutraceutical/MOPAC_infiles/compound19-conf-8
nutraceutical/MOPAC_infiles/compound19-conf-79
nutraceutical/MOPAC_infiles/compound19-conf-78
nutraceutical/MOPAC_infiles/compound19-conf-77
nutraceutical/MOPAC_infiles/compound19-conf-76
nutraceutical/MOPAC_infiles/compound19-conf-75
nutraceutical/MOPAC_infiles/compound19-conf-74
nutraceutical/MOPAC_infiles/compound19-conf-73
nutraceutical/MOPAC_infiles/compound19-conf-72
nutraceutical/MOPAC_infiles/compound19-conf-71
nutraceutical/MOPAC_infiles/compound19-conf-70
nutraceutical/MOPAC_infiles/compound19-conf-7
nutraceutical/MOPAC_infiles/compound19-conf-69
nutraceutical/MOPAC_infiles/compound19-conf-68
nutraceutical/MOPAC_infiles/compound19-conf-67
nutraceutical/MOPAC_infiles/compound19-conf-66
nutraceutical/MOPAC_infiles/compound19-conf-65
nutraceutical/MOPAC_infiles/compound19-conf-64
nutraceutical/MOPAC_infiles/compound19-conf-63
nutraceutical/MOPAC_infiles/compound19-conf-62
nutraceutical/MOPAC_infiles/compound19-conf-61
nutraceutical/MOPAC_infiles/compound19-conf-60
nutraceutical/MOPAC_infiles/compound19-conf-6
nutraceutical/MOPAC_infiles/compound19-conf-59
nutraceutical/MOPAC_infiles/compound19-conf-58
nutraceutical/MOPAC_infiles/compound19-conf-57
nutraceutical/MOPAC_infiles/compound19-conf-55
nutraceutical/MOPAC_infiles/compound19-conf-54
nutraceutical/MOPAC_infiles/compound19-conf-53
nutraceutical/MOPAC_infiles/compound19-conf-52
nutraceutical/MOPAC_infiles/compound19-conf-51
nutraceutical/MOPAC_infiles/compound19-conf-50
nutraceutical/MOPAC_infiles/compound19-conf-5
nutraceutical/MOPAC_infiles/compound19-conf-49
nutraceutical/MOPAC_infiles/compound19-conf-48
nutraceutical/MOPAC_infiles/compound19-conf-47
nutraceutical/MOPAC_infiles/compound19-conf-46
nutraceutical/MOPAC_infiles/compound19-conf-45
nutraceutical/MOPAC_infiles/compound19-conf-44
nutraceutical/MOPAC_infiles/compound19-conf-43
nutraceutical/MOPAC_infiles/compound19-conf-42
nutraceutical/MOPAC_infiles/compound19-conf-41
nutraceutical/MOPAC_infiles/compound19-conf-40
nutraceutical/MOPAC_infiles/compound19-conf-4
nutraceutical/MOPAC_infiles/compound19-conf-39
nutraceutical/MOPAC_infiles/compound19-conf-38
nutraceutical/MOPAC_infiles/compound19-conf-37
nutraceutical/MOPAC_infiles/compound19-conf-36
nutraceutical/MOPAC_infiles/compound19-conf-35
nutraceutical/MOPAC_infiles/compound19-conf-34
nutraceutical/MOPAC_infiles/compound19-conf-33
nutraceutical/MOPAC_infiles/compound19-conf-32
nutraceutical/MOPAC_infiles/compound19-conf-31
nutraceutical/MOPAC_infiles/compound19-conf-30
nutraceutical/MOPAC_infiles/compound19-conf-3
nutraceutical/MOPAC_infiles/compound19-conf-29
nutraceutical/MOPAC_infiles/compound19-conf-28
nutraceutical/MOPAC_infiles/compound19-conf-27
nutraceutical/MOPAC_infiles/compound19-conf-26
nutraceutical/MOPAC_infiles/compound19-conf-25
nutraceutical/MOPAC_infiles/compound19-conf-24
nutraceutical/MOPAC_infiles/compound19-conf-23
nutraceutical/MOPAC_infiles/compound19-conf-22
nutraceutical/MOPAC_infiles/compound19-conf-21
nutraceutical/MOPAC_infiles/compound19-conf-20
nutraceutical/MOPAC_infiles/compound19-conf-2
nutraceutical/MOPAC_infiles/compound19-conf-19
nutraceutical/MOPAC_infiles/compound19-conf-18
nutraceutical/MOPAC_infiles/compound19-conf-17
nutraceutical/MOPAC_infiles/compound19-conf-16
nutraceutical/MOPAC_infiles/compound19-conf-15
nutraceutical/MOPAC_infiles/compound19-conf-14
nutraceutical/MOPAC_infiles/compound19-conf-13
nutraceutical/MOPAC_infiles/compound19-conf-12
nutraceutical/MOPAC_infiles/compound19-conf-11
nutraceutical/MOPAC_infiles/compound19-conf-100
nutraceutical/MOPAC_infiles/compound19-conf-10
nutraceutical/MOPAC_infiles/compound19-conf-1
nutraceutical/MOPAC_infiles/compound18-min-energy-conf
nutraceutical/MOPAC_infiles/compound18-conf-92
nutraceutical/MOPAC_infiles/compound18-conf-90
nutraceutical/MOPAC_infiles/compound18-conf-89
nutraceutical/MOPAC_infiles/compound18-conf-85
nutraceutical/MOPAC_infiles/compound18-conf-84
nutraceutical/MOPAC_infiles/compound18-conf-75
nutraceutical/MOPAC_infiles/compound18-conf-74
nutraceutical/MOPAC_infiles/compound18-conf-73
nutraceutical/MOPAC_infiles/compound18-conf-72
nutraceutical/MOPAC_infiles/compound18-conf-7
nutraceutical/MOPAC_infiles/compound18-conf-62
nutraceutical/MOPAC_infiles/compound18-conf-61
nutraceutical/MOPAC_infiles/compound18-conf-60
nutraceutical/MOPAC_infiles/compound18-conf-45
nutraceutical/MOPAC_infiles/compound18-conf-44
nutraceutical/MOPAC_infiles/compound18-conf-43
nutraceutical/MOPAC_infiles/compound18-conf-36
nutraceutical/MOPAC_infiles/compound18-conf-35
nutraceutical/MOPAC_infiles/compound18-conf-34
nutraceutical/MOPAC_infiles/compound18-conf-32
nutraceutical/MOPAC_infiles/compound18-conf-22
nutraceutical/MOPAC_infiles/compound18-conf-21
nutraceutical/MOPAC_infiles/compound18-conf-20
nutraceutical/MOPAC_infiles/compound18-conf-2
nutraceutical/MOPAC_infiles/compound18-conf-19
nutraceutical/MOPAC_infiles/compound18-conf-18
nutraceutical/MOPAC_infiles/compound18-conf-13
nutraceutical/MOPAC_infiles/compound18-conf-10
nutraceutical/MOPAC_infiles/compound18-conf-1
nutraceutical/MOPAC_infiles/compound17-min-energy-conf
nutraceutical/MOPAC_infiles/compound2-conf-100
nutraceutical/MOPAC_infiles/compound2-conf-12
nutraceutical/MOPAC_infiles/compound2-conf-13
nutraceutical/MOPAC_infiles/compound2-conf-14
nutraceutical/MOPAC_infiles/compound2-conf-16
nutraceutical/MOPAC_infiles/compound2-conf-17
nutraceutical/MOPAC_infiles/compound2-conf-18
nutraceutical/MOPAC_infiles/compound2-conf-19
nutraceutical/MOPAC_infiles/compound2-conf-2
nutraceutical/MOPAC_infiles/compound2-conf-20
nutraceutical/MOPAC_infiles/compound2-conf-21
nutraceutical/MOPAC_infiles/compound2-conf-22
nutraceutical/MOPAC_infiles/compound2-conf-23
nutraceutical/MOPAC_infiles/compound2-conf-24
nutraceutical/MOPAC_infiles/compound2-conf-25
nutraceutical/MOPAC_infiles/compound2-conf-26
nutraceutical/MOPAC_infiles/compound2-conf-27
nutraceutical/MOPAC_infiles/compound2-conf-28
nutraceutical/MOPAC_infiles/compound2-conf-29
nutraceutical/MOPAC_infiles/compound2-conf-3
nutraceutical/MOPAC_infiles/compound2-conf-30
nutraceutical/MOPAC_infiles/compound2-conf-32
nutraceutical/MOPAC_infiles/compound2-conf-34
nutraceutical/MOPAC_infiles/compound2-conf-35
nutraceutical/MOPAC_infiles/compound2-conf-36
nutraceutical/MOPAC_infiles/compound2-conf-37
nutraceutical/MOPAC_infiles/compound2-conf-38
nutraceutical/MOPAC_infiles/compound2-conf-39
nutraceutical/MOPAC_infiles/compound2-conf-4
nutraceutical/MOPAC_infiles/compound2-conf-40
nutraceutical/MOPAC_infiles/compound2-conf-41
nutraceutical/MOPAC_infiles/compound2-conf-42
nutraceutical/MOPAC_infiles/compound2-conf-43
nutraceutical/MOPAC_infiles/compound2-conf-44
nutraceutical/MOPAC_infiles/compound2-conf-45
nutraceutical/MOPAC_infiles/compound2-conf-49
nutraceutical/MOPAC_infiles/compound2-conf-5
nutraceutical/MOPAC_infiles/compound2-conf-50
nutraceutical/MOPAC_infiles/compound2-conf-51
nutraceutical/MOPAC_infiles/compound2-conf-52
nutraceutical/MOPAC_infiles/compound2-conf-53
nutraceutical/MOPAC_infiles/compound2-conf-55
nutraceutical/MOPAC_infiles/compound2-conf-56
nutraceutical/MOPAC_infiles/compound2-conf-57
nutraceutical/MOPAC_infiles/compound2-conf-58
nutraceutical/MOPAC_infiles/compound2-conf-59
nutraceutical/MOPAC_infiles/compound2-conf-60
nutraceutical/MOPAC_infiles/compound2-conf-61
nutraceutical/MOPAC_infiles/compound2-conf-64
nutraceutical/MOPAC_infiles/compound2-conf-65
nutraceutical/MOPAC_infiles/compound2-conf-66
nutraceutical/MOPAC_infiles/compound2-conf-67
nutraceutical/MOPAC_infiles/compound2-conf-68
nutraceutical/MOPAC_infiles/compound2-conf-69
nutraceutical/MOPAC_infiles/compound2-conf-7
nutraceutical/MOPAC_infiles/compound2-conf-70
nutraceutical/MOPAC_infiles/compound2-conf-72
nutraceutical/MOPAC_infiles/compound2-conf-73
nutraceutical/MOPAC_infiles/compound2-conf-74
nutraceutical/MOPAC_infiles/compound2-conf-75
nutraceutical/MOPAC_infiles/compound2-conf-78
nutraceutical/MOPAC_infiles/compound2-conf-79
nutraceutical/MOPAC_infiles/compound2-conf-8
nutraceutical/MOPAC_infiles/compound2-conf-81
nutraceutical/MOPAC_infiles/compound2-conf-82
nutraceutical/MOPAC_infiles/compound2-conf-83
nutraceutical/MOPAC_infiles/compound2-conf-85
nutraceutical/MOPAC_infiles/compound2-conf-86
nutraceutical/MOPAC_infiles/compound2-conf-87
nutraceutical/MOPAC_infiles/compound2-conf-88
nutraceutical/MOPAC_infiles/compound2-conf-9
nutraceutical/MOPAC_infiles/compound2-conf-90
nutraceutical/MOPAC_infiles/compound2-conf-91
nutraceutical/MOPAC_infiles/compound2-conf-92
nutraceutical/MOPAC_infiles/compound2-conf-93
nutraceutical/MOPAC_infiles/compound2-conf-94
nutraceutical/MOPAC_infiles/compound2-conf-96
nutraceutical/MOPAC_infiles/compound2-conf-97
nutraceutical/MOPAC_infiles/compound2-conf-98
nutraceutical/MOPAC_infiles/compound2-conf-99
nutraceutical/MOPAC_infiles/compound2-min-energy-conf
nutraceutical/MOPAC_infiles/compound20-conf-100
nutraceutical/MOPAC_infiles/compound20-conf-15
nutraceutical/MOPAC_infiles/compound20-conf-23
nutraceutical/MOPAC_infiles/compound20-conf-27
nutraceutical/MOPAC_infiles/compound20-conf-28
nutraceutical/MOPAC_infiles/compound20-conf-29
nutraceutical/MOPAC_infiles/compound20-conf-36
nutraceutical/MOPAC_infiles/compound20-conf-37
nutraceutical/MOPAC_infiles/compound20-conf-38
nutraceutical/MOPAC_infiles/compound20-conf-41
nutraceutical/MOPAC_infiles/compound20-conf-47
nutraceutical/MOPAC_infiles/compound20-conf-52
nutraceutical/MOPAC_infiles/compound20-conf-54
nutraceutical/MOPAC_infiles/compound20-conf-55
nutraceutical/MOPAC_infiles/compound20-conf-62
nutraceutical/MOPAC_infiles/compound20-conf-65
nutraceutical/MOPAC_infiles/compound20-conf-66
nutraceutical/MOPAC_infiles/compound20-conf-74
nutraceutical/MOPAC_infiles/compound20-conf-75
nutraceutical/MOPAC_infiles/compound20-conf-76
nutraceutical/MOPAC_infiles/compound20-conf-78
nutraceutical/MOPAC_infiles/compound20-conf-79
nutraceutical/MOPAC_infiles/compound20-conf-8
nutraceutical/MOPAC_infiles/compound20-conf-81
nutraceutical/MOPAC_infiles/compound20-conf-83
nutraceutical/MOPAC_infiles/compound20-conf-84
nutraceutical/MOPAC_infiles/compound20-conf-96
nutraceutical/MOPAC_infiles/compound20-conf-97
nutraceutical/MOPAC_infiles/compound20-min-energy-conf
nutraceutical/MOPAC_infiles/compound21-conf-26
nutraceutical/MOPAC_infiles/compound21-conf-38
nutraceutical/MOPAC_infiles/compound21-conf-39
nutraceutical/MOPAC_infiles/compound21-conf-43
nutraceutical/MOPAC_infiles/compound21-conf-47
nutraceutical/MOPAC_infiles/compound21-conf-49
nutraceutical/MOPAC_infiles/compound21-conf-57
nutraceutical/MOPAC_infiles/compound21-min-energy-conf
nutraceutical/MOPAC_infiles/compound22-conf-1
nutraceutical/MOPAC_infiles/compound22-conf-15
nutraceutical/MOPAC_infiles/compound22-conf-2
nutraceutical/MOPAC_infiles/compound22-conf-20
nutraceutical/MOPAC_infiles/compound22-conf-21
nutraceutical/MOPAC_infiles/compound22-conf-22
nutraceutical/MOPAC_infiles/compound22-conf-26
nutraceutical/MOPAC_infiles/compound22-conf-28
nutraceutical/MOPAC_infiles/compound22-conf-29
nutraceutical/MOPAC_infiles/compound22-conf-3
nutraceutical/MOPAC_infiles/compound22-conf-32
nutraceutical/MOPAC_infiles/compound22-conf-36
nutraceutical/MOPAC_infiles/compound22-conf-38
nutraceutical/MOPAC_infiles/compound22-conf-4
nutraceutical/MOPAC_infiles/compound22-conf-41
nutraceutical/MOPAC_infiles/compound22-conf-42
nutraceutical/MOPAC_infiles/compound22-conf-45
nutraceutical/MOPAC_infiles/compound22-conf-47
nutraceutical/MOPAC_infiles/compound22-conf-48
nutraceutical/MOPAC_infiles/compound22-conf-49
nutraceutical/MOPAC_infiles/compound22-conf-51
nutraceutical/MOPAC_infiles/compound22-conf-53
nutraceutical/MOPAC_infiles/compound22-conf-54
nutraceutical/MOPAC_infiles/compound22-conf-55
nutraceutical/MOPAC_infiles/compound22-conf-56
nutraceutical/MOPAC_infiles/compound22-conf-6
nutraceutical/MOPAC_infiles/compound22-conf-8
nutraceutical/MOPAC_infiles/compound22-min-energy-conf
nutraceutical/MOPAC_infiles/compound3-min-energy-conf
nutraceutical/MOPAC_infiles/compound4-min-energy-conf
nutraceutical/MOPAC_infiles/compound5-min-energy-conf
nutraceutical/MOPAC_infiles/compound7-conf-100
nutraceutical/MOPAC_infiles/compound7-conf-11
nutraceutical/MOPAC_infiles/compound7-conf-12
nutraceutical/MOPAC_infiles/compound7-conf-13
nutraceutical/MOPAC_infiles/compound7-conf-14
nutraceutical/MOPAC_infiles/compound7-conf-15
nutraceutical/MOPAC_infiles/compound7-conf-16
nutraceutical/MOPAC_infiles/compound7-conf-17
nutraceutical/MOPAC_infiles/compound7-conf-20
nutraceutical/MOPAC_infiles/compound7-conf-21
nutraceutical/MOPAC_infiles/compound7-conf-22
nutraceutical/MOPAC_infiles/compound7-conf-24
nutraceutical/MOPAC_infiles/compound7-conf-25
nutraceutical/MOPAC_infiles/compound7-conf-26
nutraceutical/MOPAC_infiles/compound7-conf-27
nutraceutical/MOPAC_infiles/compound7-conf-28
nutraceutical/MOPAC_infiles/compound7-conf-29
nutraceutical/MOPAC_infiles/compound7-conf-3
nutraceutical/MOPAC_infiles/compound7-conf-30
nutraceutical/MOPAC_infiles/compound7-conf-31
nutraceutical/MOPAC_infiles/compound7-conf-32
nutraceutical/MOPAC_infiles/compound7-conf-33
nutraceutical/MOPAC_infiles/compound7-conf-34
nutraceutical/MOPAC_infiles/compound7-conf-35
nutraceutical/MOPAC_infiles/compound7-conf-36
nutraceutical/MOPAC_infiles/compound7-conf-37
nutraceutical/MOPAC_infiles/compound7-conf-38
nutraceutical/MOPAC_infiles/compound7-conf-4
nutraceutical/MOPAC_infiles/compound7-conf-40
nutraceutical/MOPAC_infiles/compound7-conf-41
nutraceutical/MOPAC_infiles/compound7-conf-45
nutraceutical/MOPAC_infiles/compound7-conf-46
nutraceutical/MOPAC_infiles/compound7-conf-47
nutraceutical/MOPAC_infiles/compound7-conf-48
nutraceutical/MOPAC_infiles/compound7-conf-49
nutraceutical/MOPAC_infiles/compound7-conf-5
nutraceutical/MOPAC_infiles/compound7-conf-50
nutraceutical/MOPAC_infiles/compound7-conf-51
nutraceutical/MOPAC_infiles/compound7-conf-52
nutraceutical/MOPAC_infiles/compound7-conf-53
nutraceutical/MOPAC_infiles/compound7-conf-54
nutraceutical/MOPAC_infiles/compound7-conf-55
nutraceutical/MOPAC_infiles/compound7-conf-56
nutraceutical/MOPAC_infiles/compound7-conf-57
nutraceutical/MOPAC_infiles/compound7-conf-6
nutraceutical/MOPAC_infiles/compound7-conf-60
nutraceutical/MOPAC_infiles/compound7-conf-61
nutraceutical/MOPAC_infiles/compound7-conf-62
nutraceutical/MOPAC_infiles/compound7-conf-63
nutraceutical/MOPAC_infiles/compound7-conf-64
nutraceutical/MOPAC_infiles/compound7-conf-65
nutraceutical/MOPAC_infiles/compound7-conf-67
nutraceutical/MOPAC_infiles/compound7-conf-7
nutraceutical/MOPAC_infiles/compound7-conf-71
nutraceutical/MOPAC_infiles/compound7-conf-72
nutraceutical/MOPAC_infiles/compound7-conf-73
nutraceutical/MOPAC_infiles/compound7-conf-74
nutraceutical/MOPAC_infiles/compound7-conf-75
nutraceutical/MOPAC_infiles/compound7-conf-76
nutraceutical/MOPAC_infiles/compound7-conf-78
nutraceutical/MOPAC_infiles/compound7-conf-79
nutraceutical/MOPAC_infiles/compound7-conf-8
nutraceutical/MOPAC_infiles/compound7-conf-80
nutraceutical/MOPAC_infiles/compound7-conf-81
nutraceutical/MOPAC_infiles/compound7-conf-85
nutraceutical/MOPAC_infiles/compound7-conf-86
nutraceutical/MOPAC_infiles/compound7-conf-87
nutraceutical/MOPAC_infiles/compound7-conf-88
nutraceutical/MOPAC_infiles/compound7-conf-89
nutraceutical/MOPAC_infiles/compound7-conf-90
nutraceutical/MOPAC_infiles/compound7-conf-91
nutraceutical/MOPAC_infiles/compound7-conf-92
nutraceutical/MOPAC_infiles/compound7-conf-93
nutraceutical/MOPAC_infiles/compound7-conf-94
nutraceutical/MOPAC_infiles/compound7-conf-95
nutraceutical/MOPAC_infiles/compound7-conf-96
nutraceutical/MOPAC_infiles/compound7-conf-97
nutraceutical/MOPAC_infiles/compound7-conf-99
nutraceutical/MOPAC_infiles/compound7-min-energy-conf
nutraceutical/MOPAC_infiles/compound8-min-energy-conf
nutraceutical/MOPAC_infiles/compound9-min-energy-conf
*.arc
*.cos
*.out
*.sdf
*.txt
*.xyz
